#your-char, #enemy-list, #your-enemy {
	height: 200;
	border: 2px solid red;
	margin: 30px;
}
.your-char{
	border: 2px solid red;
}
.char-box {
	border: 2px solid black;
	height: 200px;
	width: 200px;
	display: inline-block;
	margin: 10px;

}
.char-name {
	color: red;
	text-align: center
}.enemy-box {
	border: 2px solid black;
	height: 200px;
	width: 200px;
	display: inline-block;
	margin: 10px;

}
.enemy-name {
	color: red;
	text-align: center
}