.text-box {
	height: 150px;
	padding: 30px;
}
#selected-char-text, .instructions {
	font-size: 20px;
	color: darkseagreen;
	font-weight: 700;
	text-align: center;
	margin: 20px;
}
.instructions {
	color: red;
}
.your-char {
	border: 2px solid green;
	margin: 10px;
}
.your-enemies{
	border: 2px solid red;
	margin: 10px;
	height: 234px;
}
.your-opponent{
	border: 2px solid blue;
	margin: 10px;
	height: 234px;
}

.char-box {
	border: 2px solid black;
	height: 200px;
	width: 200px;
	display: inline-block;
	margin: 10px;
}
.char-name {
	color: red;
	text-align: center
}
#selected-char {
	border: 5px solid gold;
	height: 200px;
	width: 200px;
	display: inline-block;
	margin: 10px;
	text-align: center;
	color: darkseagreen;
	font-weight: 700;
}
#selected-opponent {
	border: 5px solid cornflowerblue;
	height: 200px;
	width: 200px;
	display: inline-block;
	margin: 10px;
	text-align: center;
	color: darkseagreen;
	font-weight: 700;
}
.enemy-box {
	border: 5px solid red;
	height: 200px;
	width: 200px;
	display: inline-block;
	margin: 10px;
	text-align: center;
	font-weight: 700;
}
.enemy-name {
	color: red;
	text-align: center
}
.fight-button {
	border: 2px solid orange;
	margin: 10px;
	height: 234px;
}
#fight {
	width: 75px;
	height: 30px;
	float: left;
}
.battle-text {
	text-align: center;
	color: red;
	overflow: scroll;
}